@use "styles/helpers" as *;

.customer_container {
    width: 100%;
    border-radius: 15px;
    background-color: var(--dark-blue);
    @media screen and(min-width:$desktop) {
        height: 100%;
    }
}
.customer {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background-color: var(--blue);
    padding: 35px 30px;
    @media screen and(max-width:$smaller) {
        padding: 10px;
    }

    @media screen and(min-width:$tablet) {
        flex-direction: column;
        align-items: initial;
        gap: 40px;
        padding: 35px initial 80px 32px; /*rivedere con dimensioni*/
    }
    img {
        border: 3px solid var(--white);
        border-radius: 50%;
        width: 64px;
        height: 64px;
        @media screen and(min-width:$tablet) {
            width: 78px;
            height: 78px;
        }
    }

    h1 {
        font-weight: 300;
        font-size: clamp(1.75rem, 3vw, 2.5rem);
        line-height: 1.75rem;
        @media screen and(min-width:$tablet) {
            line-height: 2.94rem;
        }
    }
    p {
        font-weight: 400;
        font-size: 0.9375rem;
        color: var(--pale-blue);
        margin-bottom: 10px;
    }
}
.customer_btn_wrapper {
    width: 100%;
    padding: 24px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and(max-width:$smaller) {
        padding: 10px;
    }
    @media screen and(min-width:$desktop) {
        padding: 26px 32px 32px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: initial;
        gap: 20px;
    }
}
